# File Types
*.jar
hs_err_pid*
*.bak
*.tmp
# Files
packwiz
.index
# Folders
/kubejs/assets/testmod
/config/structurify
/guide
kubejs/assets/TMS.zip
kubejs/assets/better-dbw-0.0.2.zip
/Aseprite
kubejs/assets/Tom's Metal Storage v1.2 (1.21.1).zip
kubejs/assets/SC2_SND_REMIX.zip
